
*.class
.classpath
.factorypath
.project
.project
target/classes/META-INF/spring-configuration-metadata.json
target/classes/META-INF/maven/com.auto/AutoMockService/pom.xml
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
bin/pom.xml
bin/README.md
bin/src/main/resources/application.yml
target/classes/application.yml
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.auto/AutoMockService/pom.properties
.project
